<div class="contents row">
  <% @posts.each do |post| %>
    
      <%# <%= link_to post_path(post.id) do %> 
      <%# <%= image_tag post.image, class: "posts-img" %> 
        <%= post.mark%><br>
      <%= post.content %>
     
   <% end %>
</div>