
<div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.comment%></p>
      </div>
    <% end %>
</div>

<div class="comment-form">
  <% if user_signed_in? %>
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_area :comment , class: "comment-text"%>
      <%= f.submit "コメントをする", class: "comment-submit" %>
    <% end %>
  <% end %>
</div>