.main-page {
  position:relative;
  top: 60px;
}

.main-page .areas_box p {
  text-align: center;
  font-size: 30px;
}

.main-page .areas_box .view_box {
  margin-left: 80px;
}

.posts-box .post-box {
  display: flex;
  justify-content: flex-end;
}





.areas {
  text-align: center;
}


.contents_row {
  text-align: center;
}

.video-box {
  padding: 20px;
}

.images-box {
  padding: 20px;
}

.images-box .post-img {
  height: 280px;
  width: 500px;
}