.password-message {
  margin-top: 50px;
}
.password-field {
  text-align: center;
  margin-top: 50px;
}
.password-label {
  width: 240px;
}
.password-actions {
  text-align: center;
  margin-top: 30px;
}
.password-links {
  text-align: center;
  margin-top: 80px;
}