/* .sing_up {
  border: solid 1px;
} */

h4 {
  text-align: center;
  font-size: 90px;
  margin-top: 50px;
}

h4 span {
  color: red;
}

h5 {
  text-align: center;
}

.sing_up_content {
  text-align: center;

}


.sing_up_content .field {
 padding: 20px;
}

.sing_up_content .field .label_wh {
  height: 40px;
  width: 400px;
}

.field

.sing_up_content .label_tag {
  font-size: 30px;
}

.sing_up_content .field p span {
  font-size: 20px;
  color: tomato;
}


.actions{
  text-align: center;
  padding: 20px;
}


.sing_in_btn {
    display       : inline-block;
    border-radius : 50%;
    font-size     : 19pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 17px 28px;
    background    : #3a96f2;
    color         : #ffffff;
    line-height   : 1em;
    opacity       : 0.8;
    transition    : .3s;
   }

  .sing_in_btn:hover {
    opacity       : 0.5;         /* カーソル時透明度 */
  }


.page_login {
  text-align: center;
}

#error_explanation {
  text-align: center;
  color: red;
}

#error_explanation ul {
  list-style-type: none;
}