.login {
  background-color: #f6f6f6;
}

.login-title {
  margin: auto;
}

.login-right {
 background-color: #f6f6f6;
}

.login-right-wrapper {
  max-height: 100vh;
  color: black;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 15px;
}

.login-title {
  color: black;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.login-subtitle {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.login-title-red {
  color: red;
}

.login_input {
  margin-top: 35px;
}

.login-reregistration {
  margin-top: 30px;
}

/* ログインボタン */
.btn_btn {
  display       : inline-block; 
  padding-left: 40px;
  border-radius : 5%;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 14px 26px;
  background    : #4da6ff;
  color         : #ffffff;
  line-height   : 1em;
  opacity       : 1.2;
  transition    : .3s;
  margin: auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.btn_btn:hover {
  box-shadow    : none;
  opacity: 0.5; 
}

.login-button input[name="commit"] {
  border: none;
}

.login-button {
  text-align: center;
  height: auto;
  width: auto;
}

.login-alert {
  color: red;
  text-align: center;
  margin-top: 30px;
  font-size: clamp(13.5px, 3vw, 18px);
}

@media screen and (max-width: 1023px) {
  /* 左側の画像 */
  .login-left-wrapper {
    display: none;
  }

  .login-image {
    display: none;
  }

  /* 右側のレイアウト */
  .login-right {
  padding: 40px 20px ;
  }

  .login-right-wrapper {
    width: 80%;
    max-width: 520px;
  }


  .login-title {
    margin-top: 15px;
    font-size: clamp(14px, 15vw, 96px);
  }
  
  .login-field-wrapper {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }

  .login-field {
    margin: auto;
    width: 75%;
    max-width: 440px;
  }

  .login-field-label {
    width: 100%;
    max-width: 440px;
  }

  .btn_btn {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .login-wrapper {
    display: flex;
  }
  
  /* 左側の画像 */
  .login-left-wrapper {
    flex: 1.05;
    height: auto;
    object-fit: cover;
    position: relative;
  }

  .login-left-wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    width: 10.5px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }

  .login-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: 80% 80%;
    opacity: 0.8;
  }

  /* 右側のレイアウト */
  .login-right {
    flex: 0.95;
    padding: 40px 40px 0px 40px;
  }

  .login-right-wrapper {
    margin-top: 70px;
  }

  .login-title {
   font-size: 5rem;
  }

  .login-field {
    margin: auto;
    width: 360px;
  }

  .login-field #user_email {
    height: 35px;
    width: 360px;
  }

  .login-field #user_password {
    height: 35px;
    width: 360px;
  }
  .btn_btn {
    margin-top: 50px;
  }
}