.comment-box {
text-align: center;
}

.comment-text {
  height: 80px;
  width: 800px;
}

.comment-submit {
    display       : inline-block;
    border-radius : 50%;
    font-size     : 18pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 8px 44px;
    background    : #ffa64d;
    color         : #ffffff;
    line-height   : 1em;
    opacity       : 0.9;
    transition    : .3s;
  }

  .comment-submit:hover {
    opacity       : 1;
  }

.chack_box {
  font-size: 20px;
}

.header-box header .left_bar {
  display: none;
 }