
 <header> 
  <div class="title">
    <a>Fire_Net</a>
  </div><br>

  <div id="navArea" >

    <nav>
      <div class="support">
        <ul>
          <li><a href="#"><button type="button" class="btn btn-danger">対応中</button></li></a>
          <li><a href="#"><button type="button" class="btn btn-primary">対応済み</button><li></a>       
        </ul> 
       </div>

      <div class= "inner">
        <ul>
        <li><a href="#">第1方面</a><li>
        <li><a href="#">第2方面</a><li>
        <li><a href="#">第1方面</a><li>
        <li><a href="#">第2方面</a><li>
        <li><a href="#">第3方面</a><li>
        <li><a href="#">第4方面</a><li>
        <li><a href="#">第5方面</a><li>
        <li><a href="#">第6方面</a><li>
        <li><a href="#">第7方面</a><li>
        <li><a href="#">第8方面</a><li>
        <li><a href="#">第9方面</a><li>
        <li><a href="#">第10方面</a><li>
        </ul> 
      </div>  
    </nav>

    <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div id="mask">
    </div>
  </div>
 </header>