
 <header class="header">
  <div class="title">
    <a>Fire_Net</a>
  </div><br>

  <body>
  <script src="post_index.js"></script>
  <div id="navArea" >
    <nav>
    <div class= "inner">
      <ul>
      <li><a href="#">第○方面</a><li>
      <li><a href="#">第○方面</a><li>
      <li><a href="#">第○方面</a><li>
      </ul> 
    </div>  
    </nav>

    <div class="toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div id="mask">
    </div>
  </div>

           
            <% @posts.each do |post| %> 

             <h2 class="main"> <%= link_to(root_path, class: 'main-name') do %>
              <p>第"#"方面 <%= post.state.name %> ・  <%= post.area.name %> 被害状況</p>
              <% end%>
             <% end%>
 </header>