
 <header> 

<div class="bar_box">
  <div class= "right_bar">
    <div class="title">
      <a><span>FIRE</span>.Net</span></a>
    </div><br>
  </div>

  <div class= "left_bar">
    <div id="navArea" >
    <nav>
        <div class="support">
          <ul>
            <li><a href="#"><button type="button" class="btn btn-danger">対応中</button></li></a>
            <li><a href="#"><button type="button" class="btn btn-primary">対応済み</button><li></a>       
          </ul> 
        </div>

        <div class= "inner">
          <ul>
          <li><a href="posts?direction_id=1">第1方面</a><li>
          <li><a href="posts?direction_id=2">第2方面</a><li>
          <li><a href="posts?direction_id=3">第3方面</a><li>
          <li><a href="posts?direction_id=4">第4方面</a><li>
          <li><a href="posts?direction_id=5">第5方面</a><li>
          <li><a href="posts?direction_id=6">第6方面</a><li>
          <li><a href="posts?direction_id=7">第7方面</a><li>
          <li><a href="posts?direction_id=8">第8方面</a><li>
          <li><a href="posts?direction_id=9">第9方面</a><li>
          <li><a href="posts?direction_id=10">第10方面</a><li>
          </ul> 
        </div>  
    </nav>

    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div id="mask">
      </div>
    </div>
  </div>
</div>

 </header>